.first{
    text-align: center;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    font-size: 18px;
    text-align: center;
}
.card-title{
    text-align:center;
}
body{
    background-color: rgb(241, 229, 229);
}
.container{
    background-color: rgb(241, 229, 229);
}
.button{
    background-color: black;
    color: white;
}
.button.dark-theme{
    background-color: black;
    color: white;
}
.dark-theme{
    color: white;
}
body.dark-theme{
    background-color: rgb(99, 96, 96);
}
h1.dark-theme{
    color: white;
}
ul.themed.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
li.themed.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.card-body.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.card-img-top.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.card.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.footer.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
}