.container{
    background-color: rgb(241, 229, 229);
}
.button{
    background-color: black;
    color: white;
}
.button.dark-theme{
    background-color: black;
    color: white;
}
.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
body.dark-theme{
    background-color: rgb(99, 96, 96);
}
h1.dark-theme{
    color: white;
}
.card-body.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.footer.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
}
.convertbutton.dark-theme{
    color: cornsilk;

}
.container.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
.p.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}
h5.dark-theme{
    background-color: rgb(99, 96, 96);
    color: white;
    border-color: black;
}

