/* Add correct CSS here for a grid overview */
.board{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3,5em);
  grid-template-columns: repeat(3,5em);
}
.field{
  border-radius: 5px;
  border: solid 2px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  justify-content: center;
  text-align: center;
  
  margin: .1em;
}
.reset-btn{
  color: white;
  background-color: rgb(34, 28, 28);
}
.playerTwo{
  color: rgb(0, 0, 0);
}
.playerOne{
  color: rgb(0, 0, 0);
}
.button1{
  color: grey;
 
}